<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ytj.project_login">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".YiTianJianApplication"
        android:allowBackup="true"
        android:icon="@mipmap/chatlocation"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetailActivity" />
        <!-- 隐藏软键盘 -->
        <activity
            android:name=".ChatActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".BaseBDMapActivity" />
        <activity
            android:name=".PersonalChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".TeamChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".CaseInfoActivity" />
        <activity android:name=".selectLocationActivity" />
        <activity android:name=".WarnMapActivity" />
        <activity
            android:name=".BDMapActivity"
            android:theme="@style/Activity_MAP" />
        <activity android:name=".TeamBDMapActivity" />
        <activity android:name=".PersonalBDMapActivity" />
        <activity android:name=".ChatBDMapActivity" />
        <activity android:name=".ChatTrueTimeBDMapActivity" />

        <service android:name=".netUtils.NetService" />
        <service
            android:name=".netUtils.WarnService"/>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="WsogBZGh28k7XwqiyZj56vzeY70bZjpm" />
    </application>

</manifest>